.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #008080;
}

.navbar_list{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.navbar_list div{
    display: flex;
    gap: 20px;
}

.navbar_list__item_link{
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    color: #000;
    transition: .3s;
}
.navbar_list__item_link:hover{
    color: #fff;
    transform: scale(2);
}
.navbar_list__item_link.active{
    text-decoration:underline;
}

.logout{
    color: #000;
}
