.MyButton{
    padding: 5px 15px;
    color: teal;
    font-size: 20px;
    background: transparent;
    border: 1px solid teal;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
}

.MyButton:hover{
    background-color: teal;
    color: #fff;
}
