*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.App{
    width: 1200px;
    margin: 0 auto;
}

.el-enter{
    transition: .5s;
    transform: translateX(-350px);
}
.el-enter-active{
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.el-exit{
    transition: .5s;
    opacity: 1;
}
.el-exit-active{
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}
.pagination{
    display:flex;
    justify-content:center;
    margin:30px 0;
}

.page{
    padding: 5px 15px;
    color: teal;
    font-size: 20px;
    background: transparent;
    border: 1px solid teal;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
}
.page:hover{
    background-color: teal;
    color: #fff;
}

.page-active{
    border: 5px solid teal;
}

.loaderWrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
